@import "main.scss";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.navbar {
    padding: 0px;
    margin-top: 0px;
    border-radius: 0px;
}

.common-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    height:100px;
}

// header
.header-circle-text {
    stroke: white;
    fill: white;
    font-family: 'Dancing Script', cursive;
}

.header-circle {
    stroke-width:0;
    stroke-miterlimit:10;
    stroke: none;
    fill: $circle;
    padding: 0;
    margin: 0;
}

.header-svg {
    display: block;
    padding: 0;
    margin: 0;
    height: 150px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 0px) {
    #header-icon-div {
        visibility: visible;
        display: block;
    }

    .common-header {
        height:90px;
    }

    .header-svg {
        height: 130px;
    }

    .navbar {
        background: $headerbg;
        border-color: $headerbg;
    }

    .common-header {
        display: flex;
    }

    .header-link-container {
        flex: 1;
        display: flex;
    }

    .links-left {
        justify-content: flex-end;
    }

    .links-right {
        justify-content: flex-start;
    }

    #header-icon-div {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .header-link {
        padding: 8px;
        font-family: Georgia;
        font-size: 11px;
        font-weight: bold;
        font-variant: small-caps;
        color: white;
        //color: $dark-grey !important;
    }

    .header-link:hover {
        color: #82b1ff;
        text-decoration:none;
    }

    .common-header {
        height:90px;
    }

    .header-svg {
        height: 110px;
    }

    .navbar-header {
        padding: 0px;
    }

    #header-icon-div {
        visibility: visible;
        display: block;
    }

    .common-header {
        height:70px;
    }

    .header-svg {
        height: 90px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 365px) {
    .header-link {
        padding: 12px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .header-link {
        padding: 50px;
        font-size: 18px;
    }

    .common-header {
        height:90px;
    }

    .header-svg {
        height: 130px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
