@import "main.scss";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px|Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Rokkitt:300');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Rouge+Script');

@font-face {
    font-family: "Chopin Script";
    src: url("/fonts/chopinscript.ttf");
}

@font-face {
    font-family: "Darleston";
    src: url("/fonts/Darleston.otf");
}

#link-home {
    color: #82b1ff;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 0) {
    .info-middle-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-middle {
        padding-top: 1.5%;
        padding-bottom: 2%;
        margin: 0px 12px 0px 12px;
        display: inline;
    }

    .info-middle-dec {
        //border-color: white;
        background-color: white;
        height: 1px;
        //border: 2px;
        margin: 0;
        display: inline;
        //width: 140px;
        width: 16%;
    }

    body {
        background: url("/img/altbg-sm.jpg") no-repeat center center fixed;
    }

    .info {
        position: absolute;
        bottom: 15%;
        width: 98%;
        left: 1%;
    }

    .banner-img {
        height: 25px;
        width: 25px;
    }

    .body-text {
        font-size: 22px;
        color: white;
        font-family: 'Dancing Script', cursive;
        text-shadow: 2px 2px #000000;
        text-align: center;
    }

    .svg-text {
        stroke: black;
        fill: black;
    }

    .amp-text {
        font-family: "Chopin Script", cursive;
        font-weight: lighter;
    }

    .amp-circle {
        fill: white;
    }

    .date {
        width: 100%;
        position: relative;
    }

    .banner {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        width: 100%;
    }

    .body-main {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .date-svg {
        z-index: -1;
    }

    .title-svg {
        width: 50px;
    }

    .main {
        display: inline;
        font-size: 28px;
        font-family: 'Josefin Slab', serif;
        text-transform: uppercase;
        font-weight: lighter;
        margin: 8px 12px 0 12px;
    }

    .banner-text {
        font-family: "Josefin Slab";
        font-size: 20px;
        margin: 6px 10px 0 10px;
        font-style: italic;
    }

    .date-svg {
        transform: scale(0.8, 0.5);
    }
}

@media only screen and (min-width : 365px) {
    .banner-text {
        font-size:22px;
    }

    .date-svg {
        transform: scale(0.75, 0.5);
    }
    
    .title-svg {
        width: 70px;
    }

    .main {
        font-size: 32px;
        margin: 8px 12px 0 12px;
    }
}

@media only screen and (min-width : 525px) {
    .date-svg {
        transform: scale(0.8, 0.75);
    }

    .main {
        font-size: 45px;
    }

    .banner-img {
        height: 30px;
        width: 30px;
    }
}

@media only screen and (min-width : 625px) {
    .body-text {
        font-size: 30px;
    }

    .main {
        font-size: 50px;
        //margin: 10px 15px 0 15px;
    }
}

@media only screen and (min-width : 725px) {
    .title-svg {
        width: 70px;
    }

    .main {
        font-size: 50px;
        margin: 20px 20px 0 20px;
    }

    .body-text {
        text-shadow: 4px 4px #000000;
    }

    .info {
        position: absolute;
        bottom: 4%;
        width: 85%;
        left: 7.5%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    body {
        background: url("/img/altbg-sm.jpg") no-repeat center center fixed;
    }

    .banner-text {
        font-size: 34px;
    }

    .body-text {
        font-size: 50px;
    }

    .main {
        font-size: 62px;
    }

    .date-svg {
        transform: scale(0.7, 0.8);
    }

    .title-svg {
        width: 90px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .main {
        font-size: 72px;
    }

    .date-svg {
        transform: scale(0.6, 0.8);
    }

    .title-svg {
        width: 100px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .body-text {
        font-size: 62px;
    }

    .main {
        font-size: 84px;
    }

    .date-svg {
        transform: scale(0.55, 0.75);
    }

    .title-svg {
        width: 120px;
    }

}

/* HD */
@media only screen and (min-width : 1600px) {
    .main {
        font-size: 118px;
    }

    .date-svg {
        transform: scale(0.55, 0.75);
    }

    .info-middle-dec {
        width: 16%;
    }
}
