@import "main.scss";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px|Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Rokkitt:300');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Rouge+Script');

@font-face {
    font-family: "Chopin Script";
    src: url("/fonts/chopinscript.ttf");
}

@font-face {
    font-family: "Darleston";
    src: url("/fonts/Darleston.otf");
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 0) {
    body {
        //background: url("/img/mainbg-mobile.jpg") no-repeat center center fixed;
        background: url("/img/altbg-sm.jpg") no-repeat center center fixed;
    }

    .info {
        position: absolute;
        bottom: 4%;
        width: 85%;
        left: 7.5%;
    }

    .banner-img {
        filter: brightness(0);
        -webkit-filter: brightness(0);
    }

    .body-text {
        font-size: 22px;
        color: white;
        font-family: 'Dancing Script', cursive;
        text-shadow: 2px 2px #000000;
        text-align: center;
    }

    .svg-text {
        stroke: black;
        fill: black;
    }

    .amp-text {
        font-family: "Chopin Script", cursive;
        font-weight: lighter;
    }

    .amp-circle {
        fill: white;
    }

    .date {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 1.5%;
    }

    .body-main {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info-middle {
        padding-top: 1.5%;
        padding-bottom: 2%;
    }

    .title-svg {
        width: 50px;
    }

    .main {
        display: inline;
        font-size: 28px;
        font-family: 'Josefin Slab', serif;
        text-transform: uppercase;
        font-weight: lighter;
        margin: 8px 12px 0 12px;
    }

    .banner-text {
        font-family: "Josefin Slab";
        font-size: 32px;
        margin: 6px 10px 0 10px;
        font-style: italic;
    }
}

@media only screen and (min-width : 400px) {
    .title-svg {
        width: 70px;
    }

    .main {
        font-size: 32px;
        margin: 8px 12px 0 12px;
    }
}

@media only screen and (min-width : 525px) {
    .main {
        font-size: 34px;
    }
}

@media only screen and (min-width : 625px) {
    .main {
        font-size: 40px;
        margin: 10px 15px 0 15px;
    }
}

@media only screen and (min-width : 725px) {
    .title-svg {
        width: 70px;
    }

    .main {
        font-size: 50px;
        margin: 20px 20px 0 20px;
    }

    .body-text {
        text-shadow: 4px 4px #000000;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    body {
        background: url("/img/altbg-sm.jpg") no-repeat center center fixed;
    }

    .body-text {
        font-size: 62px;
    }

    .main {
        font-size: 62px;
    }

    .title-svg {
        width: 90px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .main {
        font-size: 72px;
    }

    .title-svg {
        width: 100px;
    }

    .date {
        padding-left: 10%;
        padding-right: 10%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .main {
        font-size: 84px;
    }

    .title-svg {
        width: 120px;
    }

    .date {
        padding-left: 20%;
        padding-right: 20%;
    }
}

/* HD */
@media only screen and (min-width : 1600px) {
    .main {
        font-size: 118px;
    }
}
