$light-grey: #f2f2f2;
$dark-grey: #686868;
$cream: #fffdf2;

$primarycolor: #05173d;
$secondarycolor: #51c5cf;
$circle: #686868;
$headerbg: #2d2d2d;

$link-focus: #82b1ff;
$dock-green: #486D5B;

html {
    overflow: hidden;
}

body {
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
}

html, body{
    height: 100%;
}

.container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 0px) {
    .background {
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 400px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
