html, body {
    height:100vh;
}

body {
    display: flex;
    flex-direction: column;
    background: url(http://www.kirklandwa.gov/Assets/Template/Kirkland+Waterfront+Dock.jpg) no-repeat center center fixed;
    background-size: 1920px 1080px;
}

#carousel-container {
    margin-top: 3%;
    padding: 0px;
}

.container {
    flex-grow: 1;
}

.row {
    margin-left: 0%;
    margin-right: 0%;
}

.row, .carousel{
    background: rgba(180, 180, 180, 0.1);
    position: absolute;
    height: 100%; /* Prevent carousel from being distorted if for some reason image doesn't load */
    top: 0;
    width: 100%;
}

.item, .carousel .item img{
    max-height: 100%;
}

#myCarousel {
    //box-shadow: 4px 4px 30px 10px #777777;
    margin: 0 auto;
}

.carousel-inner {
    max-height: 100%;
    max-width: 100%;
}

.item-right {
    display: flex !important;
    justify-content: flex-start;
    overflow:hidden;
    align-items: center;
}

.item-left {
    display: flex !important;
    justify-content: flex-end;
    overflow:hidden;
    align-items: center;
}

.item-center {
    display: flex !important;
    overflow:hidden;
    justify-content: flex-start;
    align-items: center;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slick-slide {
    margin-left: 10px;
    margin-right: 10px;
}

.slick-slide img {
    //-webkit-transform: -webkit-translate(0px, 0);
    //-moz-transform: translate(0px, 0);
    //-ms-transform: translate(0px, 0);
    //-o-transform: translate(0px, 0);
    //transform: translate(0px, 0);

    //transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
    //-o-transition: -o-transform 500ms ease-in-out, opacity 500ms ease-in-out;
    //-moz-transition: -moz-transform 500ms ease-in-out, opacity 500ms ease-in-out;
    //-webkit-transition: -webkit-transform 500ms ease-in-out, opacity 500ms ease-in-out;
}

.slick-slide img{
    opacity: 0.2;
}

.slick-slide.item-left img {
    //-webkit-transform: scale(0.5) translateX(50%);
    //-moz-transform: scale(0.5) translateX(50%);
    //-o-transform: scale(0.5) translateX(50%);
    //transform: scale(0.5) translateX(50%);
}

.slick-slide.item-right img {
    //-webkit-transform: scale(0.5) translateX(-50%);
    //-moz-transform: scale(0.5) translateX(-50%);
    //-o-transform: scale(0.5) translateX(-50%);
    //transform: scale(0.5) translateX(-50%);
}

.slick-slide.slick-active img {
    opacity: 0.7;
}

.slick-slide {
    width: 820px !important;
    height: 600px;
}

.slick-active.slick-center img, .fake-center img {
    height: 600px !important;
    opacity: 1;
    left: -200px;
    right: -200px;
    transform: scale(1.0);
}

.carousel-control {
    z-index: 90;
}
