@import "main.scss";
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

.navbar {
    position: static;
}

body {
    display: flex;
    flex-direction: column;
    background: #c7d5ed;
}

#link-photos {
    color: #82b1ff;
}

#carousel-container {
    margin-top: 3%;
    padding: 0px;
}

.container {
    flex-grow: 1;
    display: flex;
}

.row {
    margin-left: 0%;
    margin-right: 0%;
    flex-grow: 1;
    display: flex;
    align-items: center;
}


.row, .carousel{
    //position: absolute;
    //height: 100%; [> Prevent carousel from being distorted if for some reason image doesn't load <]
    //top: 0;
    width: 100%;
}

body {
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jVhILry/modern-motion-background-black-and-white-4k_v1g4mbvpkx__F0000.png") no-repeat center center fixed; 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item, .carousel .item img{
    max-height: 100%;
}

#myCarousel {
    margin: 0 auto;
}

.carousel-inner {
    max-height: 100%;
    max-width: 100%;
}

.item-right {
    display: flex !important;
    justify-content: center;
    overflow:hidden;
    align-items: center;
}

.item-left {
    display: flex !important;
    justify-content: center;
    overflow:hidden;
    align-items: center;
}

.item-center {
    display: flex !important;
    overflow:hidden;
    justify-content: center;
    align-items: center;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slick-list {
    //margin-top: 100px;
}

.slick-slide {
    margin-left: 100px;
    margin-right: 100px;
}

.slick-track {
    display: flex;
    align-items: center;
}

.slick-slide img {
    opacity: 0.3;
    cursor: pointer;

    transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -webkit-transition: opacity 500ms ease-in-out;
}

.slick-active.slick-center img, .fake-center img {
    opacity: 1;
    transform: scale(1.0);
}

.carousel-control {
    z-index: 90;
}

.carousel-control.right, .carousel-control.left {
    background: none;
    //background-image: radial-gradient(circle closest-side, rgba(0,0,0,1), rgba(0,0,0,.1))
    position: absolute;
    display: block;
    opacity: 1;
}

//.carousel-control.right:hover {
.carousel-control>span {
    //color: $link-focus;
}

.carousel-control>span {
    //color: black;
    //color: $headerbg;
}

.item-img {
    clip-path: inset(5px 5px 5px 5px);
}

.slick-dots {
    margin-top: 10px;
    position: static;
}

:focus {
    outline: 0;
}

#photo-modal {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    transition: opacity 350ms ease-in-out;
    -o-transition: opacity 350ms ease-in-out;
    -moz-transition: opacity 350ms ease-in-out;
    -webkit-transition: opacity 350ms ease-in-out;
}

#photo-modal-img {
    clip-path: inset(5px 5px 5px 5px);
}

#wm-container {
    align-items: center;
    justify-content: center;
    display: flex;
    //position: fixed;
    //right:0;
    //bottom: 0.8em;
    width: 100%;
    margin-bottom: 1em;
}

#wm-text {
    display:inline-block;
    font-family: 'Josefin Slab', serif;
    font-size: 1.9em;
}

#wm-link {
    color: $link-focus;
    font-weight: bold;
    font-family: 'Josefin Slab', serif;
}

#wm-link:hover {
    color: $dock-green;
}

a, a:hover {
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width : 768px) {
    #wm-text {
        display:inline-block;
        font-family: 'Josefin Slab', serif;
        font-size: 1.5em;
    }
}

