@import "main.scss";

.navbar {
    //position: static;
}

body {
    background: url("/img/waterfront_1920w_cropped.jpg") no-repeat right center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#rsvp-container {
    //height:100%;
    display: flex;
    flex-grow: 1;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

iframe {
    //overflow-y: scroll;
    z-index: 100;
}

.loader {
    border: 14px solid #f3f3f3; /* Light grey */
    border-top: 14px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
}

// Animation for .loader
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container {
    width: 100%;
    flex-grow: 1;
}

#link-rsvp {
    color: #82b1ff;
}

@media only screen and (max-width : 625px) {
    .container {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}

#rsvp_submit {
    width: 100%;
}

#submit {
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 18px;
    background: #486D5B;
    color: white;
}

.row {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#name, #email, #guests {
    width: 100%;
}

.fa {
    vertical-align: middle;
    margin-right: 1%;
    margin-left: 1%;
}

.fa-plus-circle {
    color: green;
    cursor: pointer;
}

#add-guest {
    cursor: pointer;
    font-weight: bold;
}

#add-guest:hover {
    color: green;
}

.fa-times-circle:hover {
    cursor: pointer;
    color: red;
}

.guest-btn-container {
    margin-top: 1%;
}

.guest-row {
    width: 70%;
    margin-bottom: 1%;
    display: inline;
}

form>div {
    margin-top: 5%;
}

#rsvp>label {
    display: block;
}

.form-group {
    border-radius: 1px;
    margin-top: 4em;
    margin-bottom: 4em;
    box-shadow: 2px 2px 2px 2px #AAAAAA;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    background: white;
}

.form-group>h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}
