<system.webServer>
    <rewrite>
        <rules name="htmlrewrite" stopProcessing="true">
            <match url="^([_0-9a-z-]+)" ignoreCase="true" />
            <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>]
            <action type="Rewrite" url="views/{R:1}.html" />
        </rules>
    </rewrite>
</system.webServer>
