<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" href="/css/header.css">

<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<meta property="og:image" content="http://handwedding.us/img/savethedate_bw.jpg" />
<meta property="og:title" content="Hand Wedding"/>
<meta property="og:description" content="Hand Wedding" />
<link rel="image_src" href="http://handwedding.us/img/savethedate_bw.jpg" />

