<div role="navigtion" class="navbar navbar-default">
    <div class="common-header" id="navbarNavAltMarkup">
        <div class="header-link-container links-left">
            <a class="header-link" href="/">Home</a>
            <a class="header-link" href="/photos">Photos</a>
        </div>
        <a href="/">
            <div id="header-icon-div" class="">
                <svg
                    class="header-svg"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 120 100">

                    <circle class="header-circle" cx="60" cy="40" r="60"></circle>
                    <text class="header-circle-text" x="60" y="50" text-anchor="middle" stroke-width="1px" dy=".3em" font-size="25">J & A</text>
                </svg>
            </div>
        </a>
        <div class="header-link-container links-right">
            <a class="header-link" href="/rsvp">RSVP</a></li>
            <a class="header-link" href="/registry">Registry</a></li>
        </div>
    </div>
</div>
