<!DOCTYPE html>
<html lang="en">
<head>
    {% include "headcommon.html" %}
    <title>Photos</title>

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
				

    <script src="/js/photos.js"></script>

    <link rel="stylesheet" href="/css/photos.css">
</head>
<body>
    {% include "header.html" %}
    <div id="carousel-container" class="container">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-interval="false">
                <!-- Carousel indicators -->
                <!--<ol class="carousel-indicators"></ol>   -->
                <!-- Wrapper for carousel items -->
                <!--<div class="carousel-inner"></div>-->
                <!-- Carousel controls -->
                <!--<a class="carousel-control left" href="#myCarousel" data-slide="prev">-->
                    <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
                <!--</a>-->
                <!--<a class="carousel-control right" href="#myCarousel" data-slide="next">-->
                    <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
                <!--</a>-->
            </div>
        </div>
    </div>
</body>
</html>

