<!DOCTYPE html>
<html lang="en">
<head>
    {% include "headcommon.html" %}
    <title>Photos</title>

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <script src="/js/photos.js"></script>

    <link rel="stylesheet" href="/css/photos.css">
</head>
<body>
    {% include "header.html" %}
    <div id="carousel-container" class="container">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-interval="false"></div>
        </div>
    </div>
</body>
</html>

