<!DOCTYPE html>
<html lang="en">
<head>
    {% include "headcommon.html" %}
    <title>Registry</title>

    <link rel="stylesheet" href="/css/registry.css">

    <script src="/js/registry.js"></script>
</head>
<body>
    {% include "header.html" %}
    <div id="reglink-container">
        <a target="_blank" href="https://www.crateandbarrel.com/gift-registry/alison-thomas-and-jordan-hand/r5796662">
            <div id="cb-link" class="reglink"></div>
        </a>
        <a target="_blank" href="https://www.macys.com/wgl/registry/guest/6907514">
            <div id="macys-link" class="reglink"></div>
        </a>
    </div>
</body>
</html>
