<!DOCTYPE html>
<html lang="en">
<head>
    {% include "headcommon.html" %}
    <title>Registry</title>

    <link rel="stylesheet" href="/css/registry.css">
</head>
<body>
    {% include "header.html" %}
    <h1>Our Registry</h1>
    <div id="reglink-container">
        <a target="_blank" href="https://www.crateandbarrel.com/gift-registry/alison-thomas-and-jordan-hand/r5796662">
            <div id="cb-link" class="reglink"></div>
        </a>
        <a target="_blank" href="https://www.amazon.com/wedding/alison-thomas-jordan-hand-kirkland-july-2018/registry/3PL2FP4G7SUGQ">
            <div id="amazon-link" class="reglink"></div>
        </a>
    </div>
</body>
</html>
