<!DOCTYPE html>
<html lang="en">
<head>
    {% include "headcommon.html" %}
    <title>RSVP</title>

    <link rel="stylesheet" href="/css/rsvp.css">

    <script src="https://use.fontawesome.com/1ae9f50b6e.js"></script>
</head>
<body>
    {% include "header.html" %}
    <div id="rsvp-container">
        <script type="text/javascript" src="http://app.rsvpify.com/embed/500106078"></script>
        <script type="text/javascript" src="http://app.rsvpify.com/js/iframeResizer.min.js"></script>
        <script type="text/javascript">iFrameResize({autoResize: true,checkOrigin: false,heightCalculationMethod: 'max',enablePublicMethods: true}, "#RSVPifyIFrame");</script>
    </div>
    <div class="loader"></div>

    <script src="/js/rsvp.js"></script>
</body>
</html>
