$primarycolor: #686868;
$secondarycolor: #51c5cf;

.navbar {
    padding: 5px;
}

.container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.common-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: Cursive;
    src: url(/fonts/cursive.ttf);
}

// header
.header-circle-text {
    stroke: $secondarycolor;
    fill: $secondarycolor;
    font-family: Cursive;
}

.header-circle {
    stroke-width:1.6871;
    stroke-miterlimit:10;
    stroke: none;
    fill: $primarycolor;
}

.header-svg {
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    image-rendering: optimizeQuality;
    fill-rule: evenodd;
    clip-rule: evenodd;
    width: 100%;
    height: 100%;
}

#header-icon-div {
    max-width: 110px;
}

.header-link {
    padding: 10px;
    font-family: Georgia;
    font-size: 18px;
    font-variant: small-caps;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    #header-icon-div {
        visibility: hidden;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #header-icon-div {
        visibility: visible;
        display: block;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
